.header-nav{
  &__modal{
    z-index: 2;
    ul{
      margin-left: 0;
      padding: $spacing-m 0;
      li{
        list-style-type: none;

        &:first-of-type{
          margin-top: 0;
        }
      }
    }
  }

  &__segmented-controls{
    max-width: rem(600);
    margin: 0 auto;

    .segmented-controls{
      overflow: auto;
      @include margin-top-l;

      @media(min-width:$break-md){
        @include margin-top-xl;
      }

      &__btn{
        background: transparent;
        border: none;
        padding:rem(10) 0;
        @include bold;
        color: $grey;
        @include transition-all;
        @include margin-right-l;
        font-size: inherit;
        font-family: inherit;
        border-bottom: rem(2) solid transparent;
        text-align: left;
        -ms-flex:1 0 auto;
        flex: 1 0 auto;

        &--active{
          color: $light;
          border-color:$accent;
        }



        @media(min-width:$break-md){
          flex:0 0 auto;
          margin-right: 0;

          &:focus,
          &:hover{
            color: $light;
            border-color:$accent;
          }
        }
      }
    }


  }
}
